@charset 'utf-8';
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
/* 
font-family: 'Jura', sans-serif;
font-family: 'TAEBAEKmilkyway';
*/
/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: bottom;
}
/* 임시설정 */
body {
  font-family: 'TAEBAEKmilkyway';
}
section {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


h2 {
  position: absolute;
color: #718166;
font-size: 64px;
text-align: center;
width: fit-content;
font-weight: normal;
transition: width 0.5s, margin 1s, top 1s, padding 1s;
pointer-events: all;
cursor: pointer;
text-shadow: 2px 2px 4px rgba(46, 51, 41, 0.5);
}
h2:hover {
  animation: h2hover 3s linear infinite;
}
@keyframes h2hover {
  0% {
    text-shadow: 2px 2px 4px rgba(46, 51, 41, 0.5);
  }
  5% {
    text-shadow: 2px -2px 4px rgba(46, 51, 41, 0.5);
  }
  10% {
    text-shadow: -2px -2px 4px rgba(46, 51, 41, 0.5);
  }
  15% {
    text-shadow: -2px 2px 4px rgba(46, 51, 41, 0.5);
  }
  20% {
    text-shadow: 2px 2px 4px rgba(46, 51, 41, 0.5);
  }
}

/* 메인 설정 */
#main {
  background: linear-gradient(0deg, #C8D2A4 4.17%, #E8F1D3 83.33%);
}
#main h2 {
  left: 200px;
  top: 50px;
  width: 300px;
}
body:has(#design.on, #publishing.on) #main h2 {
  left: 140px;
  top: 100%;
  width: 50px;
  margin-top: -356px;
  margin-left: -75px;
  padding: 50px;
}
.mainBg {
  width: 100%;
  height: 100%;
  position: relative;
  perspective: 500px;
}

.mainBg span {
  position: absolute;
  width: 1000px;
  height: 1000px;
  margin-left: -500px;
  margin-top: -500px;
  background: radial-gradient(var(--bright-color), var(--dark-color));
  border-radius: 50%;
  box-shadow: 0 0 25px 3px var(--dark-color);
  transform: translateX(50vw) translateY(50vh) translateZ(-1000px);
  animation: animate 10s infinite alternate;
  animation-delay: calc(var(--n) * 1.5s);
  color: hsl(hue, saturation, lightness);
  opacity: 0.07;
  filter: opacity(0);
  mix-blend-mode: multiply;
}
@keyframes animate {
  80% {
      filter: opacity(1);
  }
  100% {
      transform: translateX(calc(var(--x) * 1vw)) translateY(calc(var(--y) * 1vh));
      filter: opacity(0.5);
  }
}
.mainCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 300px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: #718166;
  font-weight: bold;
  --shadow: #585e4e;
  text-shadow: 1px 1px 0px var(--shadow), 2px 2px 0px var(--shadow), 3px 3px 0px var(--shadow), 3px 3px 6px var(--shadow);
}
.mainCon .hello {
  font-size: 100px;
  width: 600px;
  height: 150px;
  overflow: hidden;
  letter-spacing: 10px;
  position: relative;
  padding-left: 150px;
}
.mainCon .hello::before {
  content: '👩‍💻';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -66.5px;
  text-shadow: 4px 4px 8px rgba(46, 51, 41, 0.5);
  mix-blend-mode:luminosity;
}
.mainCon .hello::after {
  content: '👩‍💻';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -66.5px;
  opacity: 0.25;
}
.mainCon .hello li:nth-child(1) {
margin-bottom: 30px;
animation: mainMargin1 20s infinite;
}
@keyframes mainMargin1 {
  0% {margin-top: 30px;}
  22.5% {margin-top: 30px;}
  25% {margin-top: -110px;}
  97.5% {margin-top: -110px;}
  100% {margin-top: 30px;}
}
.mainCon .hello li:nth-child(2) {
  animation: mainOpacity1 20s infinite;
}
@keyframes mainOpacity1 {
  0% {opacity: 0;}
  25.1% {opacity: 0;}
  25.2% {opacity: 1;}
  100% {opacity: 1;}
}
.mainCon .text {
  margin-top: 50px;
  width: 1100px;
  height: 100px;
  font-size: 80px;
  letter-spacing: 10px;
  text-align: center;
  overflow: hidden;
}
.mainCon .text li {
margin-bottom: 20px;
}
.mainCon .text li:nth-child(1) {
  animation: mainMargin2 20s infinite;
}
@keyframes mainMargin2 {
  2.5% {margin-top: 0px;}
  3.75% {margin-top: -100px;}
  6.25% {margin-top: -100px;}
  7.5% {margin-top: -200px;}
  10% {margin-top: -200px;}
  11.25% {margin-top: -300px;}
  13.75% {margin-top: -300px;}
  15% {margin-top: -400px;}
  22.5% {margin-top: -400px;}
  25% {margin-top: -500px;}
  97.5% {margin-top: -500px;}
  100% {margin-top: 0px;}
}

/* 디자인 설정 */
#design {
  background-image: url(../image/bg_design.png);
  /* background-color: #000; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transition: left 1s;
  left: calc(100% + -500px);
  left: -webkit-calc(100% + -500px);
  left: -moz-calc(100% + -500px);
}
body:not(:has(.on)) #design:has(h2:hover), body:not(:has(.on)):has(#publishing h2:hover) #design {
  left: calc(100% + -700px);
  left: -webkit-calc(100% + -700px);
  left: -moz-calc(100% + -700px);
}
#design h2 {
  left: 235px;
  top: 50%;
  width: 44.2px;
  margin-top: -192px;
  margin-left: -22.1px;
  padding: 0 500px 0 55px;
}

body:not(:has(.on)) #design h2:hover {
  padding: 0 500px 0 150px;
}
body:has(#publishing.on) #design, #design.on {
  left: -75px;
}
#design.on h2 {
width: 300px;
top: 50px;
margin-top: 0;
margin-left: 0;
padding: 0 55px;
}
/* 디자인+퍼블리싱 설정 */
#design article, #publishing article {
  margin-left: 300px;
  margin-right: 150px;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  position: relative;
}
#design.on article, #publishing.on article {
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
}
#design article>img, #publishing article>img {
  width: fit-content;
  height: auto;
  cursor: pointer;
  pointer-events: all;
}
#design .con, #publishing .con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#design .con .count, #publishing .con .count {
  display: flex;
  position: relative;
  justify-content: center
}
#design .con .count li, #publishing .con .count li {
  width: 20%;
}

#design .con .count li img, #publishing .con .count li img {
  /* pointer-events: all; */
  /* cursor: pointer; */
  width: 100%;
  height: auto;
}
#design .con .count li span, #publishing .con .count li span {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -39.6px;
  display: none;
}
#design .con.list0 .count li:nth-child(1) span, #publishing .con.list0 .count li:nth-child(1) span {
display: unset;
}
#design .con.list1 .count li:nth-child(2) span, #publishing .con.list1 .count li:nth-child(2) span {
display: unset;
}
#design .con.list2 .count li:nth-child(3) span, #publishing .con.list2 .count li:nth-child(3) span {
display: unset;
}
#design .con .ex, #publishing .con .ex {
  position: relative;
  width: 1000px;
  height: 800px;
  overflow: hidden;
  color: #718166;
}
#design .con .ex li, #publishing .con .ex li { 
  position: absolute;
  left: 150%;
  top: 0;
  width: 600px;
  height: 650px;
  margin-left: -300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#design .con .ex li:nth-child(1), #publishing .con .ex li:nth-child(1)  { 
  left: 50%;
}

#design .con .ex img, #publishing .con .ex img {
  width: 500px;
  height: auto;
}
#design .con .ex h3, #publishing .con .ex h3 {
  font-size: 36px;
  margin-top: -70px;
  margin-bottom: 30px;
  text-align: center;
}
#design .con .ex span, #publishing .con .ex span {
  word-spacing: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}
#design .con .ex br, #publishing .con .ex br { 
  margin-bottom: 10px;
  display: block;
  content: "";
}
#design .con .ex p, #publishing .con .ex p {
  text-align: center;
  color: #000;
  text-shadow: 0 0 0px #000;
}

#design .con .ex div, #publishing .con .ex div {
  width: 200px;
  height: 50px;
  background-color: #718166;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px rgba(46, 51, 41, 0.3), inset 4px 4px 16px rgba(224, 241, 208, 0.6), inset -4px -4px 16px rgba(66, 78, 52, 0.6);
  border-radius: 20px;
  cursor: pointer;
  pointer-events: all;
}


/* 퍼블리싱 설정 */
#publishing {
  background-image: url(../image/bg_publishing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transition: left 1s;
  left: calc(100% + -300px);
  left: -webkit-calc(100% + -300px);
  left: -moz-calc(100% + -300px);
}
#publishing:not(.on):has(h2:hover) {
  left: calc(100% + -500px);
  left: -webkit-calc(100% + -500px);
  left: -moz-calc(100% + -500px);
}
#publishing h2 {
  left: 245px;
  top: 50%;
  width: 44.8px ;
  margin-top: -320px;
  margin-left: -22.5px;
  padding: 0 500px 0 55px;
}
#publishing:not(.on) h2:hover {
  padding: 0 500px 0 100px;
}
#publishing.on {
  left: 150px;
}
#publishing.on h2 {
width: 500px;
top: 50px;
margin-top: 0;
margin-left: 0;
padding: 0 55px;
}


/* 프로필 설정 */
#profile {
  right: calc(100% + -250px);
  right: -webkit-calc(100% + -250px);
  right: -moz-calc(100% + -250px);
  top: 0;
  background-image: url(../image/bg_profile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  transition: right 1s;
}
#profile:has(h2:hover) {
  right: calc(100% + -400px);
  right: -webkit-calc(100% + -400px);
  right: -moz-calc(100% + -400px);
}
#profile h2 {
  right: 200px;
  top: 50%;
  width: min-content;
  margin-top: -224px;
  margin-right: -24px;
  padding: 0 50px 0 500px;
}
#profile:not(.on) h2:hover {
  padding: 0 75px 0 500px;
}

/* 팝업창 설정 */
#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 16px rgba(46, 51, 41, 0.25), inset 4px 4px 12px rgba(115, 128, 102, 0.5), inset -8px -8px 16px rgba(88, 100, 73, 0.6);
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}
#popup.on {
  opacity: 1;
  pointer-events: all;
}
#popup h5 {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 16px rgba(46, 51, 41, 0.25), inset 4px 4px 12px rgba(115, 128, 102, 0.5), inset -8px -8px 16px rgba(88, 100, 73, 0.6);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  color: #fff;
  height: 50px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: default;
  transition: opacity 0.7s;
  pointer-events: none;
}
#popup:hover:has(.popupBox:not(:hover)) h5 {
  opacity: 1;
}
#popup .popupBox {
  background: #FFFFFF;
box-shadow: 4px 4px 16px rgba(46, 51, 41, 0.25), inset 8px 8px 12px rgba(206, 230, 184, 0.4), inset -8px -8px 16px rgba(161, 178, 142, 0.6);
border-radius: 30px;
width: 1280px;
height: 768px;
padding: 50px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
#popup .popupBox:has([class^='design'].on) {
  overflow-y: scroll;
scrollbar-width: none;
-ms-overflow-style: none;
padding: 0px;
}
#popup .popupBox:has([class^='design'].on)::-webkit-scrollbar {
  display: none;
}
#popup .popupBox>li {
  display: none;
  width: 100%;
}
#popup .popupBox>li:nth-child(4) {
  overflow: unset;
  height: 100%;
}
#popup .popupBox>li.on {
  display: flex;
}

.designPopup2 {
height: auto;
}
.designPopup2 img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.profilePopup0>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 10px;
  width: 300px;
}
.profilePopup0 .part2 {
  flex: 1;
}
.profilePopup0 h3 {
  background-color: #7CB247;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 30px;
}
.profilePopup0 .chart {}
.profilePopup0 .chart  img {
  width: 100%;
  height: auto;
}
.popuprofilePopup01pBox .info {}
.profilePopup0 .info ul {}
.profilePopup0 .info li {
  color: #558a35;
  font-size: 20px;
  margin: 20px 0;
}
.profilePopup0 .info i {
font-size: 14px;
margin-right: 20px;
}
.profilePopup0 .info li:nth-child(1) {
  font-size: 42px;
}
.profilePopup0 .info li i:nth-child(3) {
  opacity: 0;
}
.profilePopup0 .tag {
  position: relative;
  margin-top: 20px;
}
.profilePopup0 .tag span {
  position: absolute;
  width: max-content;
}
.profilePopup0 .tag .green {
  color: #7CB247;
}
.profilePopup0 .tag span:nth-child(1) {
  opacity: 0.3;
  left: 35%;
  top: 0; 
  font-size: 16px;
}
.profilePopup0 .tag span:nth-child(2) {
  opacity: 0.6;
  left: 10%;
  top: 20px;
  font-size: 26px;
}
.profilePopup0 .tag span:nth-child(3) {
  opacity: 0.75;
  right: 20%;
  top: 25px;
  font-size: 24px;
}
.profilePopup0 .tag span:nth-child(4) {
  left: 25%;
  top: 55px;
  font-size: 24px;
}
.profilePopup0 .tag span:nth-child(5) {
  opacity: 0.2;
  right: 24%;
  top: 80px;
  font-size: 16px;
  font-weight: bold;
}
.profilePopup0 .tag span:nth-child(6) {
  left: 35%;
  top: 90px;
  font-size: 16px;
}
.profilePopup0 .tag span:nth-child(7) {
  opacity: 0.2;
  right: 40%;
  top: 100px;
  font-size: 12px;
  font-weight: bold;
}
.profilePopup0 .tag span:nth-child(8) {
  left: 20%;
  top: 115px;
  font-size: 32px;
}
.profilePopup0 .tag span:nth-child(9) {
  left: 35%;
  top: 150px;
  font-size: 20px;
  opacity: 0.3;
}
.profilePopup0 .tag span:nth-child(10) {
  right: 10%;
  top: 160px;
  font-size: 16px;
  opacity: 0.2;
}
.profilePopup0 .tag span:nth-child(11) {
  left: 16%;
  top: 170px;
  font-size: 16px;
  opacity: 0.2;
  font-weight: bold;
}
.profilePopup0 .tag span:nth-child(12) {
  left: 45%;
  top: 180px;
  font-size: 20px;
  opacity: 0.6;
}
.profilePopup0 .tag span:nth-child(13) {
  left: 24%;
  top: 185px;
  font-size: 24px;
  opacity: 0.5;
}
.profilePopup0 .tag span:nth-child(14) {
  left: 50%;
  top: 205px;
  font-size: 26px;
  opacity: 0.8;
}
.profilePopup0 .pic {
position: relative;
}
.profilePopup0 .pic img:nth-child(1) {
  width: 200px;
  position: absolute;
  bottom: 265px;
  left: 50%;
  margin-left: -100px;
  transition: opacity 0.7s;
}
#popup:hover:has(.popupBox:not(:hover)) .profilePopup0 .pic img:nth-child(1) {
  opacity: 0;
}
.profilePopup0 .pic img:nth-child(2) {
  width: 300px;
  position: absolute;
  bottom: -180px;
  left: 50%;
  margin-left: -150px;
}

.profilePopup0 .hobby {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.profilePopup0 .hobby span {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color: #7CB247;
  opacity: 0.75;
}
.profilePopup0 .hobby b {
  font-size: 16px;
  font-weight: normal;
}
.profilePopup0 .favorite {
  display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.profilePopup0 .favorite span {
  font-size: 24px;
  color: #7CB247;
  opacity: 0.75;
}
.profilePopup0 .stat {
}
.profilePopup0 .stat li {
  background-color: #DCEFC9;
  height: 20px;
  border-radius: 10px;
  margin: 15px 0;
}
.profilePopup0 .stat li span {
display: block;
background-color: #7CB247;
border-radius: 10px;
height: 20px;
width: 25%;
text-indent: 10px;
color: #fff;
transition: width 1s;
font-size: 12px;
line-height: 1.8;
}
.profilePopup0.on .stat li:nth-child(1) span {
width: 85%;
}
.profilePopup0.on .stat li:nth-child(2) span {
width: 75%;
}
.profilePopup0.on .stat li:nth-child(3) span {
width: 95%;
}
.profilePopup0.on .stat li:nth-child(4) span {
width: 90%;
}
.profilePopup0.on .stat li:nth-child(5) span {
width: 85%;
}