@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allerta+Stencil&family=Arbutus&family=Babylonica&family=Bad+Script&family=Ballet:opsz@16..72&family=Blaka+Hollow&family=Bungee+Shade&family=Cardo&family=Cherry+Cream+Soda&family=Creepster&family=Flavors&family=Fredericka+the+Great&family=Hachi+Maru+Pop&family=Henny+Penny&family=Lacquer&family=Langar&family=Montserrat+Alternates&family=Nanum+Myeongjo&family=Nosifer&family=Nova+Mono&family=Over+the+Rainbow&family=Philosopher&family=Plaster&family=Raleway&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Rubik+Storm&family=Sacramento&family=Skranji&family=Special+Elite&family=Splash&family=Vast+Shadow&family=Yatra+One&family=Zeyada&display=swap');
/* 
\font-family: 'Abril Fatface', cursive;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Arbutus', cursive;
font-family: 'Babylonica', cursive;
font-family: 'Bad Script', cursive;
\font-family: 'Ballet', cursive;
font-family: 'Blaka Hollow', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Cardo', serif;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Creepster', cursive;
font-family: 'Flavors', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Hachi Maru Pop', cursive;
\font-family: 'Henny Penny', cursive;
font-family: 'Lacquer', cursive;
\font-family: 'Langar', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nosifer', cursive;
font-family: 'Nova Mono', monospace;
font-family: 'Over the Rainbow', cursive;
font-family: 'Philosopher', sans-serif;
\font-family: 'Plaster', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik 80s Fade', cursive;
font-family: 'Rubik Glitch', cursive;
\font-family: 'Rubik Storm', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Skranji', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Splash', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Yatra One', cursive;
\font-family: 'Zeyada', cursive;
*/
/* 베이직 설정 변경 */
body {
  background-color: #000;
}

header {
  mix-blend-mode: unset;
}
header h1 {
position: fixed;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
animation: introH1 4s;
}
@keyframes introH1 {
  0% {opacity: 0.5;
    height: 600px;
    width: 800px;
    margin-top: -300px;
margin-left: -400px;
left: 50%;
top: 50%;
border: 30px solid #fdfdfd;
font-size: 128px;
  }
  70% {
    border: 30px solid #fdfdfd;
  }
  80% {opacity: 1;
    height: 600px;
    width: 800px;
    margin-top: -300px;
margin-left: -400px;
left: 50%;
top: 50%;
border: 0px solid #fdfdfd;
font-size: 128px;
  }
100% {
  height: 20px;
  width: 150px;
  margin-top: 20px;
margin-left: 0;
left: 0;
top: 0;

font-size: 40px;
}
}
header h1 span {
font-family: 'Nanum Myeongjo', serif;
}

header h1 .s {
  animation: introS 4s;
}
@keyframes introS {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -90px;
  }
  80% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -90px;
  }
  100% {
    margin-left: 0;
    margin-top: 20px;
    left: 0%;
    top: 0%;
  }
  }
header h1 .w {
  animation: introW 4s;
}
@keyframes introW {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -90px;
  }
  80% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -90px;
  }
  100% {
    margin-left: 0;
    margin-top: 0;
    left: 0%;
    top: 0%;
  }
  }
header h1 .j {
  animation: introJ 4s;
}
@keyframes introJ {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: 50px;
  }
  80% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: 50px;
  }
  100% {
    margin-left: 0;
    margin-top: 0;
    left: 0%;
    top: 0%;
  }
  }
header h1 .a {
  animation: introA 4s;
}
@keyframes introA {
  0% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 10px;
    margin-top: 50px;
  }
  80% {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 10px;
    margin-top: 50px;
  }
  100% {
    margin-left: 0;
    margin-top: 0;
    left: 0%;
    top: 0%;
  }
  }


/* 메인 */
.curtain {}
.curtain div {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.curtain img {
  position: absolute;
  top: 0;
  height: 100%;
}
.curtain .left {
  left: -100%;
  animation: left 3s;
}
.curtain .left img {
  left: 100%;
}
@keyframes left {
  0% {left: -50%;}
  100% {left: -100%;}
}
.curtain .right {
  right: -100%;
  animation: right 3s;
}
.curtain .right img {
  right: 100%;
}
@keyframes right {
  0% {right: -50%;}
  100% {right: -100%;}
}
.bg {
  position: fixed;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
}
.bg img {
width: 100%;
height: auto;
}

