@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allerta+Stencil&family=Arbutus&family=Babylonica&family=Bad+Script&family=Ballet:opsz@16..72&family=Blaka+Hollow&family=Bungee+Shade&family=Cardo&family=Cherry+Cream+Soda&family=Creepster&family=Flavors&family=Fredericka+the+Great&family=Hachi+Maru+Pop&family=Henny+Penny&family=Lacquer&family=Langar&family=Montserrat+Alternates&family=Nanum+Myeongjo&family=Nosifer&family=Nova+Mono&family=Over+the+Rainbow&family=Philosopher&family=Plaster&family=Raleway&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Rubik+Storm&family=Sacramento&family=Skranji&family=Special+Elite&family=Splash&family=Vast+Shadow&family=Yatra+One&family=Zeyada&display=swap');
/* 
\font-family: 'Abril Fatface', cursive;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Arbutus', cursive;
font-family: 'Babylonica', cursive;
font-family: 'Bad Script', cursive;
\font-family: 'Ballet', cursive;
font-family: 'Blaka Hollow', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Cardo', serif;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Creepster', cursive;
font-family: 'Flavors', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Hachi Maru Pop', cursive;
\font-family: 'Henny Penny', cursive;
font-family: 'Lacquer', cursive;
\font-family: 'Langar', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nosifer', cursive;
font-family: 'Nova Mono', monospace;
font-family: 'Over the Rainbow', cursive;
font-family: 'Philosopher', sans-serif;
\font-family: 'Plaster', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik 80s Fade', cursive;
font-family: 'Rubik Glitch', cursive;
\font-family: 'Rubik Storm', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Skranji', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Splash', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Yatra One', cursive;
\font-family: 'Zeyada', cursive;
*/
/* 베이직 설정 변경 */
body {
  background-color: #000;
}

header {
  mix-blend-mode: unset;
}
header h1 {
position: fixed;
left: 50%;
top: 50%;
margin-top: -300px;
margin-left: -400px;
height: 600px;
width: 800px;
border: 30px solid #fdfdfd;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-size: 128px;
animation: introOpa 5s linear;
}
header h1 span {
position: absolute;
font-family: 'Nanum Myeongjo', serif;
left: 50%;
top: 50%;
}
header h1 .s {
  animation: none;
  margin-left: -100px;
  margin-top: -90px;
}
header h1 .w {
  animation: none;
  margin-left: -10px;
  margin-top: -90px;
}
header h1 .j {
  animation: none;
  margin-left: -100px;
  margin-top: 50px;
}
header h1 .a {
  animation: none;
  margin-left: 10px;
  margin-top: 50px;
}
@keyframes introOpa {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* 메인 */
.curtain {}
.curtain img {
  position: fixed;
  top: 0;
  width: 100%;
}
.curtain .left {
  left: 0;
}
.curtain .right {
  right: 0;
}
.bg {
}
.bg img {
  width: 100%;
}
