@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #bbb;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 기본설정 */

body {
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
}


/* wrap설정 */

#wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  perspective: 900px;
  /*원근감설정 수치가 작으면 왜곡이심함*/

}

/* 메뉴버튼 */
.btnMenu {
  color: #fff;
  transform: scale(1);
  font-size: 40px;
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 3;
  animation: ani 0.5s infinite alternate;
}

.btnMenu i {}
/* 버튼애니메이션 */
.btnMenu {}
@keyframes ani {
  0% {
    transform: scale(1);
    color: #fff;
  }
  100% {transform: scale(1.5);
    color: #888;
  }
}

/* 네비설정 */
nav {
  background-color: #eee;
  position: fixed;
  height: 100%;
  width: 150px;
  z-index: 2;
  transform: rotateY(120deg);
  transform-origin: left top;
  opacity: 0;
  transition: all 1.2s;
}

/* 네비가 열렸을때  */
nav.on {
  transform: rotateY(10deg);
  opacity: 1;
}


nav h1 {
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 80px;
}

nav h1 img {
  width: 100%;
  height: auto;
}

#gnb {
  position: absolute;
  top: 200px;
  width: 100%;
}

#gnb li {}

#gnb a {
  display: block;
  font-size: 18px;
  line-height: 4;
  text-align: center;
  color: #000;
}


/* 섹션설정 */


section {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 섹션이 열렸을때 */
section.on {
  transform: rotateY(-10deg);
  transform-origin: right top;
  transition: all 1.0s;
}

section>div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  perspective: 700px;
}
section>div>p {
transform: rotateY(270deg);
transition: all 1.5s;
}

section>div.on {
  opacity: 1;
  z-index: 3;
}
section>div.on>p {
  transform: rotateY(0deg);
}


/* 박스1설정 */
.box1>p {
  float: left;
  width: 25%;
  height: 25%;
}

.box1>p:nth-child(1) {
  background-color: #ddd;
  width: 50%;
}

.box1>p:nth-child(2) {
  background-color: #ccc;
}

.box1>p:nth-child(3) {
  background-color: #bbb;
}

.box1>p:nth-child(4) {
  background-color: #aaa;
  float: right;
  width: 50%;
  height: 50%;
}

.box1>p:nth-child(5) {
  background-color: #999;
  float: right;
}

.box1>p:nth-child(6) {
  background-color: #888;
  float: right;
}

.box1>p:nth-child(7) {
  background-color: #777;
  float: right;
}

.box1>p:nth-child(8) {
  background-color: #666;
  float: right;
}

.box1>p:nth-child(9) {
  background-color: #555;
}

.box1>p:nth-child(10) {
  background-color: #444;
  width: 50%;
}

.box1>p:nth-child(11) {
  background-color: #333;
}


/* 박스2설정 */
.box2>p {
  float: left;
  width: 25%;
  height: 25%;
}

.box2>p:nth-child(1) {
  background-color: #ddd;
}

.box2>p:nth-child(2) {
  background-color: #ccc;
}

.box2>p:nth-child(3) {
  background-color: #bbb;
  width: 50%
}

.box2>p:nth-child(4) {
  background-color: #aaa;

  height: 50%;
}

.box2>p:nth-child(5) {
  background-color: #999;
  width: 50%;
  height: 50%;
}

.box2>p:nth-child(6) {
  background-color: #888;
}

.box2>p:nth-child(7) {
  background-color: #777;
}

.box2>p:nth-child(8) {
  background-color: #666;
}

.box2>p:nth-child(9) {
  background-color: #555;
}

.box2>p:nth-child(10) {
  background-color: #444;
}

.box2>p:nth-child(11) {
  background-color: #333;
}

/* 박스3설정 */

.box3>p {
  float: left;
}

.box3>p:nth-child(1) {
  background-color: #ddd;
  width: 50%;
  height: 100%;
}

.box3>p:nth-child(2) {
  background-color: #ccc;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(3) {
  background-color: #bbb;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(4) {
  background-color: #aaa;
  width: 50%;
  height: 25%;
}

.box3>p:nth-child(5) {
  background-color: #111;
  width: 25%;
  height: 50%;
}

.box3>p:nth-child(6) {
  background-color: #222;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(7) {
  background-color: #333;
  width: 25%;
  height: 25%;
}