@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #bbb;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 기본 설정 */
body {
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
}

/* wrap설정 */
#wrap {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* 메뉴 버튼 */
.btnMenu {
  color: #fff;
  font-size: 40px;
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 3;
}

.btnMenu i {}

/* 네비 */
nav {
  background-color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 150px;
  z-index: 2;
}

nav h1 {
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 80px;

}

nav h1 img {
  width: 100%;
  height: auto;
}

#gnb {
  position: absolute;
  top: 200px;
  width: 100%;
}

#gnb li {}

#gnb li a {
  display: block;
  font-size: 18px;
  line-height: 4;
  text-align: center;
  color: #000;
}

/* 섹션설정 */
section {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section>div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

section .box1 {
  background-color: aqua;

}

section .box2 {
  background-color: pink;
}

section .box3 {
  background-color: yellowgreen;
}

section .on {
  opacity: 1;
}

/* 박스1 설정 */
.box1 p {
  float: right;
}
.box1>p:nth-child(1) {
  width: 25%;
  height: 25%;
  background-color: #ddd;
}

.box1>p:nth-child(2) {
  width: 25%;
  height: 25%;
  background-color: #ccc;
}

.box1>p:nth-child(3) {
  width: 50%;
  height: 25%;
  background-color: #bbb;
}

.box1>p:nth-child(4) {
  width: 50%;
  height: 50%;
  background-color: #aaa;
}

.box1>p:nth-child(5) {
  width: 25%;
  height: 25%;
  background-color: #111;
}

.box1>p:nth-child(6) {
  width: 25%;
  height: 25%;
  background-color: #222;
}

.box1>p:nth-child(7) {
  width: 25%;
  height: 25%;
  background-color: #333;
}

.box1>p:nth-child(8) {
  width: 25%;
  height: 25%;
  background-color: #444;
}

.box1>p:nth-child(9) {
  width: 25%;
  height: 25%;
  background-color: #555;
}

.box1>p:nth-child(10) {
  width: 50%;
  height: 25%;
  background-color: #666;
}

.box1>p:nth-child(11) {
  width: 25%;
  height: 25%;
  background-color: #777;
}

/* 박스2 설정 */
.box2 p {
  float: left;
}

.box2>p:nth-child(1) {
  width: 25%;
  height: 25%;
  background-color: #ddd;
}

.box2>p:nth-child(2) {
  width: 25%;
  height: 25%;
  background-color: #ccc;
}

.box2>p:nth-child(3) {
  width: 50%;
  height: 25%;
  background-color: #bbb;
}

.box2>p:nth-child(4) {
  width: 25%;
  height: 50%;
  background-color: #aaa;
}

.box2>p:nth-child(5) {
  width: 50%;
  height: 50%;
  background-color: #111;
}

.box2>p:nth-child(6) {
  width: 25%;
  height: 25%;
  background-color: #222;
}

.box2>p:nth-child(7) {
  width: 25%;
  height: 25%;
  background-color: #333;
}

.box2>p:nth-child(8) {
  width: 25%;
  height: 25%;
  background-color: #444;
}

.box2>p:nth-child(9) {
  width: 25%;
  height: 25%;
  background-color: #555;
}

.box2>p:nth-child(10) {
  width: 25%;
  height: 25%;
  background-color: #666;
}

.box2>p:nth-child(11) {
  width: 25%;
  height: 25%;
  background-color: #777;
}

/* 박스3 설정 */
.box2 p {
  float: left;
}

.box3>p:nth-child(1) {
  background-color: #ddd;
  width: 50%;
  height: 100%;
}

.box3>p:nth-child(1) img {
  width: 100%;
}

.box3>p:nth-child(2) {
  background-color: #ccc;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(3) {
  background-color: #bbb;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(4) {
  background-color: #aaa;
  width: 50%;
  height: 25%;
}

.box3>p:nth-child(5) {
  background-color: #111;
  width: 25%;
  height: 50%;
}

.box3>p:nth-child(6) {
  background-color: #222;
  width: 25%;
  height: 25%;
}

.box3>p:nth-child(7) {
  background-color: #333;
  width: 25%;
  height: 25%;
}