@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 전체 설정 */
* {
  padding: 0;
  margin: 0;
}
ol,ul {
  list-style: none;
}
image {
  border: none;
  vertical-align: bottom;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  /* overflow-x: hidden; */
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
}
/* 구글폰트, 눈누폰트 등에서 import미리설정 */
/* 우선순위 css는 덮어쓰기가 가능한 파일
제일 상위자 - 태그네임
두번째 상위자 - #wrap section -> section의 클래스네임으로 변경안됨
세번째 상위자 - ID 값 */

/* 크기설정 */
/* 화면기준으로 높이를 맞춘다면 800px
  내용에 따라 높이가 변환된다면 1000px or 500px */
/* section:nth-child(1) {
  width: 100%;
  height: 800px;
}
section:nth-child(2) {
  width: 100%;
  height: 800px;
}
section:nth-child(3) {
  width: 100%;
  height: 800px;
}
section:nth-child(4) {
  width: 100%;
  height: 800px;
}
section:nth-child(5) {
  width: 100%;
  height: 800px;
}
section:nth-child(6) {
  width: 100%;
  height: 800px;
} */
article {
  width: 100%;
  height: 800px;
}
h2 {
  font-family: 'yg-jalnan', sans-serif;
  font-size: 40px;
}
/* 공간설정 - 내용 모두 삽입시 삭제예정*/
section:nth-child(1) {
  background-color: #333;
}
section:nth-child(2) {
  background-color: #444;
}
section:nth-child(3) {
  background-color: #555;
}
section:nth-child(4) {
  background-color: #666;
}
section:nth-child(5) {
  background-color: #777;
}
section:nth-child(6) {
  background-color: #888;
}

/* 헤더설정 */
#header {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100px;
  z-index: 30;
}
#header #gnb {
  position: fixed;
}
#gnb li i {
  font-size: 2rem;
  color: #fff;
  margin-left: 25px;
  margin-top: 32px;
  cursor: pointer;
}
#gnb .box {
  display: none;
}
#gnb .box:nth-child(1) {}
#gnb .box:nth-child(2) {}
#gnb .box:nth-child(3) {}
#gnb .box:nth-child(4) {}
.box>.front {}
.box>.left {}
.box>.right {}
.box>.back {}
.box>.top {}
.box>.bottom {}
.box>.circle {}
.box>.circle>.top {}
.box>.circle>.bottom {}
.box>.circle>div[class^='side'] {}
.box>.circle>.side1 {}
.box>.circle>.side2 {}
.box>.circle>.side3 {}
.box>.circle>.side4 {}
.box>.circle>.side5 {}
.box>.circle>.side6 {}
.box>.circle>.side7 {}
.box>.circle>.side8 {}
#header h1 {
position: absolute;
left: 50%;
top: 0;
width: auto;
height: 100px;
}
#header h1 a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: auto;
  height: 100%;

}
#header h1 a:nth-child(1) {
margin-left: -65px;
}

#header h1 img {
  width: auto;
  height: 60%;
  margin-top: 20%;
}
#header #util {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: auto;
  height: 100px;
  align-items: center;
}
#util li {
  margin: 0 25px;
  color: #fff;
  font-size: 2rem;
}
#util li i {
  cursor: pointer;
}
/* 랩 설정 */
.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/* 메인 설정 */
#main {
  position: relative;
  overflow: hidden;
}
#main .vid {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#main .vid video {
  width: max-content;
  height: 100%;
}
#main .vid video.on {
  width: 100%;
  height: max-content;
}
#main .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#main .cover p {
  margin-bottom: 25px;
  color: #fff;
}
#main .cover p span {
  margin-bottom: 10px;
  display: block;
  border: 2px solid #fff;
  width: 30px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
}
#main .cover p span::before {
  content: "|";
  font-size: 18px;
}
#main .cover p em {
  border: 2px solid #000;
  width: 1px;
  height: 2px;
  margin: 0 auto;
  display: block;
  animation: scroll 1s infinite linear;
}
/* 추후 할것 */
@keyframes scroll {
  0% {
  }
  50% { 

  }
  100% { 

  }
}

/* 제품설명 설정 */
#product {
  background-color: #FFD02C;
  position: relative;
  overflow: hidden;
}
#product .ani {
  width: 200%;
  position: absolute;
  left: -100%;
  border-radius: 50%;
  animation: rotate1 20s linear infinite;
}
@keyframes rotate1 {
  0% {transform: rotateZ(0deg);}
  23% {transform: rotateZ(0deg);}
  25% {transform: rotateZ(90deg);}
  48% {transform: rotateZ(90deg);}
  50% {transform: rotateZ(180deg);}
  73% {transform: rotateZ(180deg);}
  75% {transform: rotateZ(270deg);}
  98% {transform: rotateZ(270deg);}
  100% {transform: rotateZ(360deg);}
}
#product span {
  display: inline-block;
  position: absolute;
  color: #FFB613;
  font-size: 352px;
}
#product span:nth-child(1) {
  transform: rotateZ(0deg);
  right: 0;
  top: 50%;
  margin-top: -70px;
  margin-right: 20px;
}
#product span:nth-child(2) {
  transform: rotateZ(90deg);
  right: 50%;
  bottom: 0;
  margin-bottom: 180px;
  margin-right: -246px;
}
#product span:nth-child(3) {
  transform: rotateZ(180deg);
  bottom: 50%;
  left: 0;
  margin-bottom: -70px;
  margin-left: 10px;
}
#product span:nth-child(4) {
  transform: rotateZ(270deg);
  top: 0;
  left: 50%;
  margin-left: -340px;
  margin-top: 280px;
}
#product .block {
  position: absolute;
  background-color: #008CC7;
  width: 1200px;
  height: 1200px;
  border-radius: 20px;
  left: 0;
  top: 50%;
  margin-left: -400px;
  margin-top: -600px;
  transform: rotateZ(45deg);
  box-shadow: 30px 0 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  animation: rotate2 20s linear infinite;
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(45deg);
    box-shadow: 30px 0 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  23% {
    transform: rotateZ(45deg);
    box-shadow: 30px 0 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  25% {
    transform: rotateZ(135deg);
    box-shadow: 0px -30px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  48% {
    transform: rotateZ(135deg);
    box-shadow: 0px -30px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  50% {
    transform: rotateZ(225deg);
    box-shadow: -30px 0px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  73% {
    transform: rotateZ(225deg);
    box-shadow: -30px 0px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  75% {
    transform: rotateZ(315deg);
    box-shadow: 0px 30px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  98% {
    transform: rotateZ(315deg);
    box-shadow: 0px 30px 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: rotateZ(405deg);
    box-shadow: 30px 0 6px 10px rgba(0, 0, 0, 0.25), inset 0 0 15px rgba(0, 0, 0, 0.25);
  }
}
#product .block div[class^='circle']{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #009DE0;
  border-radius: 50%;
  box-shadow: 10px 10px 4px 3px rgba(0, 0, 0, 0.25), inset 0 0 8px 1px rgba(0, 0, 0, 0.25);
  animation: rotate3 20s linear infinite;
}

@keyframes rotate3 {
  0% {transform: rotateZ(-45deg);}
  23% {transform: rotateZ(-45deg);}
  25% {transform: rotateZ(-135deg);}
  48% {transform: rotateZ(-135deg);}
  50% {transform: rotateZ(-225deg);}
  73% {transform: rotateZ(-225deg);}
  75% {transform: rotateZ(-315deg);}
  98% {transform: rotateZ(-315deg);}
  100% {transform: rotateZ(-405deg);}
}

#product .block .circle1{
  left: 80px;
  top: 80px;
}
#product .block .circle2{
  right: 80px;
  top: 80px;
  
}
#product .block .circle3{
  right: 80px;
  bottom: 80px;
}
#product .block .circle4{
  left: 80px;
  bottom: 80px;
}
#product .block div[class^='circle'] img {
  width: 60%;
  margin: 60px;
}

#product .block .blockPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  margin-left: -120px;
  margin-top: -120px;
  animation: rotate4 20s linear infinite;
}
#product .block .blockPlus div {
  width: 80px;
  height: 240px;
  border-radius: 12px;
  background-color: #FFD02C;
  box-shadow: inset 0px 0px 10px #000;
}
#product .block .blockPlus div:nth-child(1) {
  margin-left: 80px;
}
#product .block .blockPlus div:nth-child(2) {
  margin-left: 80px;
  margin-top: -240px;
  transform: rotateZ(90deg);
}
#product .block .blockPlus div:nth-child(3) {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-top: -160px;
  box-shadow: none;
  position: absolute;
  border-radius: 6px;
}
@keyframes rotate4 {
  0% {filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.3));}
  23% {filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.3));}
  25% {filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.3));}
  48% {filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.3));}
  50% {filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.3));}
  73% {filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.3));}
  75% {filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));}
  75% {filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.3));}
  100% {filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.3));}
}

#product .text {
  width: 545px;
  height: 545px;
  background: url(../image/legoBlock1.png), #18AC00;
  background-blend-mode: soft-light, normal;
  position: absolute;
  transform: rotateZ(45deg);
  right: 120px;
  bottom: -50px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

#product .text h2 {
  transform: rotateZ(-45deg);
  display: inline-block;
  margin-left: -215px;
  margin-top: 100px;
}
#product .text p {
  transform: rotateZ(-45deg);
  margin-left: 60px;
  margin-top: -20px;
}


/* 제품목록 설정 */
#list article{
  display: flex;
  flex-wrap: wrap;
}
#list div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#list div a {
  width: 70%;
  height: auto;
}
#list div img {
  width: 100%;
  height: auto;
}
#list div:nth-child(1) {
  background-color: #EBD59F;
}
#list div:nth-child(2) {
  background-color: #56B4EA;
}
#list div:nth-child(3) {
  background-color: #582E9D;
}
#list div:nth-child(4) {
  background-color: #E03224;
}
#list div:nth-child(5) {
  background-color: #17A4F0;
}
#list div:nth-child(6) {
  background-color: #ACE200;
}
#list div:nth-child(7) {
  background-color: #F05944;
}
#list div:nth-child(8) {
  display: block;
  background: url(../image/legoBlock2.png), #18AC00;
  background-blend-mode: soft-light, normal;
  background-size: 57px;
  background-position: center center;
  text-align: center;
  color: #fff;
}
#list .text h2 {
  margin-top: 20%;
}
#list .text p {
  margin: 10% 15% 0 15%;
}
#list div:nth-child(9) {
background-color: #FF96CF;
}
#list div:nth-child(10) {
background-color: #FFE000;
}
#list div:nth-child(11) {
  background-color: #009E5C;
}
#list div:nth-child(12) {
  background-color: #FFED1A;
}
#list div:nth-child(13) {
  background-color: #BC0038;
}
#list div:nth-child(14) {
  background-color: #5EDFC0;
}
#list div:nth-child(15) {
  background-color: #FF9000;
}

/* 기업정보 설정 */
#info {
  background: url(../image/legoBlock2.png), #18AC00;
  background-blend-mode: soft-light, normal;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}
#info .lego h3 {
  width: 35%;
  height: auto;
  margin: 0 auto;
}
#info article {
  position: relative;
  overflow: hidden;
}
#info iframe {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
}
#info .cover {
  width: 70%;
  height: 100%;
  margin-left: 30%;
}
#info .text {
  width: 30%;
  height: auto;
}
#info .text img {}
#info .text h2 {}
#info .text p {}
#info .text a {}
#info .text a i {}

#info .lego {}
#info .lego video {}
#info .lego .cover {}
#info .lego .text {}
#info .lego .text img {}
#info .lego .text h2 {}
#info .lego .text p {}
#info .lego .text a {}
#info .lego .text a i {}
#info .mc {}
#info .mc video {}
#info .mc .cover {}
#info .mc .text {}
#info .mc .text img {}
#info .mc .text h2 {}
#info .mc .text p {}
#info .mc .text a {}
#info .mc .text a i {}
#info .legoMc {}
#info .legoMc video {}
#info .legoMc .cover {}
#info .legoMc .text {}
#info .legoMc .text img {}
#info .legoMc .text h2 {}
#info .legoMc .text p {}
#info .legoMc .text a {}
#info .legoMc .text a i {}

/* sns설정 */
#sns {}
#sns .snsIcon{}
#sns .snsIcon i {}
#sns .snsIcon i.on {}
#sns .text h2 {}
#sns .text p {}
#sns .text p b {}
#sns .snsImg ul {}
#sns .snsImg li {}
#sns .snsImg li a {}
#sns .snsImg li a.on {}
#sns .snsImg li a img{}

/* 맵+푸터 설정 */
#end {}
#end .map {}
#end .map div:nth-child(1) {}
#end .map .text {}
#end .map .text h2 {}
#end .map .text p {}
#end .footer {}
#end .footer ul {}
#end .footer li {}
#end .footer p {}

/* 미디어쿼리 */
/* 1440px이상 */
@media (min-width:1440px) {
.wrap {margin-left: auto;
margin-right: auto;
}
}
/*  */
@media (max-width:px) {
  
}