@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
section {
  border: #ff0000 5px solid;
}
article {
  background-color: #ff00ff32;
  border: #ff00ff 5px solid;
  display: flex;
}
div {
  background-color: #ffff0032;
  border: #ffff00 5px solid;
  /* height: 150px; */
}
ul {
  border: #00ff00 5px solid;
  list-style: none;
  display: flex;
flex-flow: row wrap;
width: 500px;
}
li {border: #00ffff 5px solid;
}
p {border: #0000ff 5px solid;
  display: inline;
}