@charset 'utf-8';

/* 전체 설정 */
* {
  margin: 0;
  padding: 0;

}
img {
  border: none;
  vertical-align: bottom;
}
ul,ol {
  list-style: none;
}
a {
  color: #514d47;
  text-decoration: none;
}

/* 헤더 */
.header {}
.header h1 {}
.header nav {}
.util {}
.util li{}
.gnb {}
.gnb li {}

/* 메인슬라이드 설정 */
.slide {}
.slide .imgBox {}
.slide .iconBox {}
.slide .donateBox {}

/* news 설정 */
.news {}
.news>h2 {}
.news .tag {}
.news .conBox {}
.news .conBox article {}
.news .listBox {}
.listBox .left {}
.listBox .box {}
.listBox .box ul {}
.listBox .box li {}
.listBox .right {}
.news .notice {}
.news .notice h2 {}
.news .notice ul {}
.news .notice li {}
/* bg 설정 */
.bg {}
.bg .active {}
.bg .active h2 {}
.bg .active div {}
.bg .site {}
.bg .site ul {}
.bg .site li {}
.bg .site a {}
/* info 설정 */
.info {}
.info h2 {}
.info .book {}
.book ul {}
.book li {}
.book li a {}
/* footer 설정 */
footer {}
