@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 전체 설정 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Gowun Dodum', sans-serif;
}

img {
  border: none;
  vertical-align: bottom;
}

ul,
ol {
  list-style: none;
}

a {
  color: #514d47;
  text-decoration: none;
}

body {
  background-color: #f9f5ec;
}

.wrap {
  width: 100%;
  height: 100%;
}


/* 헤더 */

.header {
  height: 150px;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  width: 30%;
  margin: auto 0;
}

.header h1 img {
  width: 70%;
  height: auto;
}

.header nav {
  display: flex;
  flex-direction: column;
  color: #514d47;
  margin: 30px 10px 10px 0;
}

.util {
  display: flex;
  justify-content: end;
  margin-right: 30px;
  height: 40px;
  font-size: 16px;
}

.util li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.util li:nth-child(3) {
  width: 38px;
  height: 38px;
  outline: solid 1px #514d47;
  background-color: #514d47;
  border: solid 1px #f9f5ec;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.util li:nth-child(3) i {
  color: #f9f5ec;
  font-size: 25px;
}

.util li:nth-child(4) {
  width: 40px;
  height: 40px;
  background-color: #514d47;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.util li:nth-child(4) i {
  color: #f9f5ec;
  position: absolute;
  left: 50%;
}

.util li:nth-child(4) i.fa-moon {
  margin-left: -12px;
  bottom: -40%;
  transition: bottom 0.5s;
  font-size: 30px;
}

.util li:nth-child(4):hover i.fa-moon {
  bottom: 10%;
}

.util li:nth-child(4) i.fa-star {
  margin-left: 1px;
  font-size: 12px;
  bottom: 50%;
  margin-bottom: -5px;
}

/*  완료한 뒤에 시간 남으면 만들 것
.util li:nth-child(4) i.fa-sun {
  font-size: 36px;
  left: 50%;
  margin-left: -18px;
  bottom: -40%;
  transition: bottom 0.5s;
}
.util li:nth-child(4):hover i.fa-sun {
  bottom: 50%;
  margin-bottom: -19px;
} */
.util li:nth-child(5) i {
  font-size: 40px;
}

.gnb {
  display: flex;
  justify-content: end;
  align-items: end;
  line-height: 30px;
  height: 60px;
}

.gnb li {
  margin: 0 40px;
  font-size: 20px;
  cursor: pointer;
}

/* 메인슬라이드 설정 */
.slide {
  width: 100%;
  padding-bottom: 50px;
}

.slide .imgBox {
  border-radius: 200px 400px 200px 400px;
  position: relative;
  width: 1436px;
  height: 700px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide .imgBox>a {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: auto;
}

.slide .imgBox a:nth-child(4) {
  left: 0;
}

.slide .imgBox img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.slide .imgBox>a>img {
  border-radius: 200px 400px 200px 400px;
}

.slide .imgBox>img {
  z-index: 2;
  width: auto;
  height: auto;
  opacity: 0;
  transition: opacity 0.7s;
  pointer-events: none;
}

.slide .imgBox>img:nth-child(2) {
  z-index: 2;
  transform: rotate(180deg);
  width: auto;
  left: 100%;
  margin-left: -396px;
}

.slide .imgBox>i {
  margin: 70px;
  color: #f9f5ec;
  font-size: 100px;
  z-index: 3;
  top: 50%;
  opacity: 0.4;
  transition: opacity 0.3s;
  text-shadow: 0 0 3px #000;
}

.slide .imgBox>i:last-child {
  transform: rotate(180deg);
  text-shadow: 0 0 3px #000;
}

.slide .imgBox>i:hover {
  opacity: 0.8;
}

.slide .donateBox {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 170px;
  background-color: rgba(191, 174, 153, 0.7);
  margin-top: -170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donateBox .txtBox {
  padding-left: 200px;
  color: #f9f5ec;
}

.donateBox .txtBox p {
  font-size: 24px;
}

.donateBox .txtBox b {
  margin-top: 25px;
  font-size: 48px;
  float: right;
}

.donateBox .iconBox {
  margin-right: 200px;
  display: flex;
  justify-content: space-between;
}

.donateBox .iconBox a {
  color: #f9f5ec;
  margin: 0 15px;
  font-size: 20px;
}

.donateBox .iconBox span {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #f9f5ec;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
}

.donateBox .iconBox i {
  font-size: 40px;
  color: #e6933d;
}

.donateBox .iconBox a:first-child i {
  font-size: 55px;
}


/* news 설정 */
.news {
  height: 1050px;
}

.news>.wrap>h2 {
  padding: 10px 0 10px 80px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.news>.wrap>h2 a {
  color: #e6933d;
}

.news>.wrap>h2 img {
  padding-right: 5px;
}

.news .tag {
  display: flex;
  justify-content: space-between;
  color: #e6933d;
  font-size: 18px;
  margin: 15px 121px;
}

.news .tag li {
  cursor: pointer;
}

.news .conBox {
  position: relative;
  height: 336px;
  margin: 0 121px;
  padding: 55px 0;
  border-top: 2px dashed #e6933d;
  border-bottom: 2px dashed #e6933d;

}

.news .conBox article {
  position: absolute;
  display: none;
  left: 0;
  top: 55px;
}

.news .conBox article.on {
  display: flex;
  justify-content: space-between;
}

.news .conBox img {
  width: 40%;
  height: auto;
  margin: 0 20px;
  border-radius: 40px;
}

.news .conBox div {
  padding-left: 10px;
  position: relative;
}

.news .conBox div h2 {
  font-size: 30px;
  color: #514d47;
  width: 80%;
  font-weight: normal;
  line-height: 36px;
}

.news .conBox div a {
  color: #b2af38;
  font-size: 20px;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
}

.news .conBox div span {
  cursor: pointer;
  color: #e6933d;
  font-size: 14px;
  margin: 10px 5px 35px 5px;
  display: inline-block;
}

.news .conBox p {
  color: #514d47;
  font-size: 16px;
  line-height: 20px;
}

.news .listBox {
  margin: 0px 121px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 203px;
  border-bottom: 2px dashed #e6933d;
}

.listBox .left,
.right {
  position: relative;
  font-size: 60px;
  z-index: 2;
  color: #e6933d;
}

.listBox i {
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}

.listBox .left i {
  right: 100%;
}

.listBox .right i {
  transform: rotate(180deg);
  left: 100%;
}

.listBox .left img {
  position: absolute;
  left: -242px;
  top: 15px;
  pointer-events: none;
}

.listBox .right img {
  transform: rotate(180deg);
  position: absolute;
  right: -242px;
  top: 15px;
  pointer-events: none;
}


.listBox .box {
  position: relative;
  overflow: hidden;
  width: 93%;
}

.listBox .box ul {
  position: absolute;
  align-items: center;
  display: none;
  left: 0;
  top: 15px;
  margin-left: -10px;
  margin-top: 3px;
  width: 2000px;
}

.listBox .box ul.on {
  display: flex;
}

.listBox .box li {
  width: 200px;
  height: auto;
  margin: 0 25px;
  font-size: 16px;
  color: #514d47;
  cursor: pointer;
}

.listBox .box li p {
  margin-top: 10px;

}

.news .notice {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.news .notice h2 {
  margin-left: 80px;
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.news .notice h2 a {
  color: #e6933d;
}

.news .notice h2 img {
  padding-right: 5px;
}

.news .notice ul {
  margin-right: 121px;
  position: relative;
  width: 75%;
  overflow: hidden;
}

.news .notice li {
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 24px;
  color: #514d47;
  text-align: right;
}

.news .notice li:nth-child(1) {
  top: 0;
}

.news .notice li span {
  font-size: 16px;
  padding-left: 20px;
}

/* bg 설정 */
.bg {
  height: 950px;
  background-color: #e6933d;
  border-radius: 0 300px 300px 300px;
  position: relative;
}

.bg>img:first-child {
  position: absolute;
  left: 0;
  bottom: 100%;
  pointer-events: none;
  z-index: 10;
}

.bg .active {}

.bg .active h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  padding: 75px 0 20px 80px;
}

.bg .active h2 a {
  color: #f9f5ec;
}

.bg .active h2 img {
  margin-right: 5px;
}

.bg>img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
}

.bg .active div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bg .active div ul {
  display: flex;
  justify-content: center;
  width: 45%;
  margin-left: 144px;
  float: left;
}

.bg .active div li {
  margin-left: -100px;
}

.bg .active:hover div li {
  margin-left: -30px;
}

.bg .active div li:nth-child(1) {
  transition: transform 0.5s, margin-left 0.5s;
  z-index: 0;
}

.bg .active div li:nth-child(2) {
  transition: margin-top 0.5s, margin-left 0.5s;
  z-index: 1;
}

.bg .active div li:nth-child(3) {
  transition: transform 0.5s, margin-left 0.5s;
  z-index: 2;
}

.bg .active:hover div li:nth-child(1) {
  transform: rotate(-15deg);
  margin-left: -100px;
  z-index: 0;
}

.bg .active:hover div li:nth-child(2) {
  margin-top: -45px;
  z-index: 1;
}

.bg .active:hover div li:nth-child(3) {
  transform: rotate(15deg);
}


.bg .active div img {
  width: 100%;
  height: auto;
}

.bg .active div p {
  width: 50%;
  font-size: 20px;
  line-height: 32px;
  color: #f9f5ec;
}

.active div p em {
  color: #51ffe0;
  font-style: normal;
  font-size: 24px;
}

.bg .site {
  clear: left;
}

.bg .site h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  padding: 50px 0 50px 80px;
}

.bg .site h2 a {
  color: #f9f5ec;
}

.bg .site h2 img {
  margin-right: 5px;
}

.bg .site ul {
  margin: 0 121px;
  display: flex;
  justify-content: space-between;
}

.bg .site li {
  background-image: url(../image/iconOff.png);
  width: 7%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg .site li:hover {
  background-image: url(../image/iconOn.png);
}

.bg .site li:hover a i {
  color: #e6933d;
}

.bg .site li:hover a i.fa-arrow-up-right-from-square {
  color: #f9f5ec;
}


.bg .site li a {
  position: relative;
  color: #f9f5ec;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.bg .site li i {
  padding: 45% 0 35%;
  font-size: 36px;

}

.bg .site li i.fa-arrow-up-right-from-square {
  font-size: 16px;
  padding: 0;
  margin-bottom: -16px;
}


/* info 설정 */
.info {
  height: 1200px;
}

.info h2 {
  padding: 100px 0 0px 80px;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.info h2 a {
  color: #e6933d;
}

.info h2 img {
  padding-right: 5px;
}

.info .book {
  position: relative;
  height: 798px;
  width: 100%;
}

.info .book>img {
  position: absolute;
  left: -0.5%;
  top: 100%;
  width: 105%;
  height: auto;
  margin-top: -24px;
}

.info .book>img:nth-child(1) {
  z-index: -1;
}

.book ul {
  width: 100%;
  height: 800px;
  position: relative;
}

.book li {
  width: 30%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: padding-bottom 0.5s;
}

.book li:nth-child(1) {
  left: 8%;
}

.book li:nth-child(2) {
  left: 16%;
}

.book li:nth-child(3) {
  left: 24%;
}

.book li:nth-child(4) {
  left: 32%;
}

.book li:nth-child(5) {
  left: 40%;
}

.book li:nth-child(6) {
  left: 48%;
}

.book li:nth-child(7) {
  left: 56%;
}

.book li:nth-child(8) {
  left: 64%;
}

.book li:hover {
  padding-bottom: 300px;
}

.book li img {
  width: 100%;
  height: auto;
}

/* footer 설정 */
footer {
  height: 250px;
  background-color: #504336;
  color: #f9f5ec;
  padding-top: 50px;
}

footer>div>div {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer li {
  margin-left: 50px;
}

footer em {
  display: block;
  margin-top: 100px;
}

/* 미디어쿼리 */
@media (min-width:1440px) {
  .wrap {
    width: 1440px;
    margin: 0 auto;
  }
}